@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #0E1014;
    color: #FFFFFF;
}

/* h1, p, a {
    color: #FFFFFF;
} */
 
span {
    color: #9747FF;
}

a {
    color: #FFFFFF;
}