@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

header img {
    display: block;
    margin: 75px 0 0 360px;

}

body {
    background-color: #0E1014;
    color: #FFFFFF;
}
h1 {
    font-size: 64px;
    font-family: "Unbounded", sans-serif;
    font-weight: bold;
    margin-top: 60px;
}

p {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    margin-top: 24px;
}

/* h1, p, a {
    color: #FFFFFF;
} */
 
span {
    color: #9747FF;
}

a {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}