@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;
}

* {
    margin: 0;
    padding: 0;
}

body{
  /*height: 100vh;*/
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);  
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #22d4fd;
    text-decoration: none;


}

.titulo-destaque{
    color: #22d4fd;
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__titulo {
    font-size: 2.25rem;
    font-family: "Krona One", sans-serif;

}

.apresentacao__texto {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif ;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;

}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22d4fd;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);

}

img {
    width: 250px;
    height: 350px;
}

.rodape {
    background-color: #22d4fd;
    color: black;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}